<body style="background-color:black;">
<td><%= image_tag(user.image.url(:medium )) %></td>
<td><%= link_to user.name, user %></td>
<td><%= link_to user.email, user %></td>
<td><%= link_to user.speciality, user %></td>

</body>
